<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <style type="text/css">
        #card{
            margin-right: 11px;
        }
        #shadow{
            position:absolute;
            margin-top: 279px;
            width: 100%;
            z-index:999;
            background: rgba(66, 66, 66, 0.5);
        }
        p{
            color: white;
        }

    </style>
</head>
<body class="layui-bg-green">
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href=""><span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/index">首页<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/film/time">影片<span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/cinema">影院<span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item layui-col-md-offset8" lay-unselect="">
        <a href="javascript:;"><img src="/img/mine.jpg" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="/user/order/mine">我的订单</a></dd>
            <dd><a href="/user/profile">个人中心</a></dd>
            <dd><a href="javascript:;">退出</a></dd>

        </dl>
    </li>
</ul>
<div class="layui-container">
    <center>
    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div>
                <center>
                    <img src="/img/banner.jpg">
                </center>
            </div>
            <div>
                <center>
                    <img src="/img/banner2.jpg">
                </center>
            </div>
            <div>
                <center>
                    <img src="/img/banner3.jpg">
                </center>
            </div>
        </div>
    </div>
    </center>
    <div style="height: 20px"></div>

    <div class="layui-row">
        <div class="layui-col-md3">
            正在热映
        </div>
        <div class="layui-col-md1 layui-col-lg-offset8">
            <a href="index.html">查看全部></a>
        </div>
        <hr>
    </div>

    <div class="layui-row">
        <center>
            <div class="layui-panel layui-inline" id="card" th:each="f:${filmInfos}">
                <div id="shadow"><p class="layui-font-16" th:text="${f.filmName}"></p></div>
                <img th:src="${f.filmBroadcastInfo.url}"/>
                <button class="layui-btn layui-btn-fluid layui-btn-danger layui-show-lg-block" th:value="${f.filmId}">选座购票</button>
            </div>
        </center>
    </div>

</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    $('#card .layui-btn').click(function (e) {
        var film_id = e.target.value
        window.location.href = '/user/film/time?film_id='+film_id;
    });
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '79%' //设置容器宽度
            ,height:'58%'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>