<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影片</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-rate{
            padding:0;
        }
        button:hover{
            background-color: #9F9F9F;
        }
        th{
            text-align: center !important;
        }
    </style>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href=""><span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/index">首页<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/film/time">影片<span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item">
        <a href="/user/cinema">影院<span class="layui-badge-none"></span></a>
    </li>
    <li class="layui-nav-item layui-col-md-offset8" lay-unselect="">
        <a href="javascript:;"><img src="/img/mine.jpg" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="/user/order/mine">我的订单</a></dd>
            <dd><a href="/user/profile">个人中心</a></dd>
            <dd><a href="javascript:;">退出</a></dd>

        </dl>
    </li>
</ul>
<div class="layui-fluid layui-bg-green">
<!--    影名＋评分-->
    <div class="layui-row">
        <br>
        <div class="layui-col-md2 layui-col-lg-offset1">
            <p class="layui-font-18" th:text="${filmInfo.filmName}"></p>
        </div>
        <div class="layui-col-md3">
            <div id="star"></div>
        </div>
        <hr class="layui-col-md10 layui-col-lg-offset1">
    </div>
<!--    图片+简介-->
    <div class="layui-row layui-col-md10 layui-bg-cyan layui-col-lg-offset1" style="background-color: #5FB878">
        <img class="layui-inline" style="margin: 25px" th:src="${filmInfo.filmBroadcastInfo.url}"/>
        <div class="layui-inline" style="width: 46%;margin-top: 0px">
            <p class="layui-font-16" th:text="'导演：'+${filmInfo.director}"></p><br>
            <p class="layui-font-16" th:text="'主演：'+${filmInfo.actor}"></p><br>
            <p class="layui-font-16" th:text="'类型：'+${filmInfo.filmType}"></p><br>
            <p class="layui-font-16" th:text="'制片国家/地区：'+${filmInfo.makeFilmArea}"></p><br>
            <p class="layui-font-16" th:text="'片长：'+${filmInfo.filmLength}"></p><br>
            <p class="layui-font-16" th:text="'剧情简介：'+${filmInfo.filmIntroduce}"></p><br><br><br>
        </div>
        <div class="layui-inline" style="width: 20%;height: 303px">
            <br>
            <p class="layui-font-18" th:text="'上映时间：'+${filmInfo.playTime}">上映时间: {$filmInfo.play_time}</p>
        </div>
        <br>
        <br>
    </div>
<!--    选座购票-->
    <div class="layui-row">
        <br>
        <div class="layui-col-md2 layui-col-lg-offset1">
            <p class="layui-font-18">选座购票</p>
        </div>
        <hr class="layui-col-md10 layui-col-lg-offset1">
        <div class="layui-col-md10 layui-col-lg-offset1">
            <table class="layui-table">
                <colgroup>
                    <col width="50">
                    <col width="450">
                </colgroup>
                <tr>
                    <th>影院</th>
                    <td>
                        <div class="layui-btn-container" id="cinema">
                            <button class="layui-btn layui-btn-primary layui-border-green layui-btn-sm"
                                    th:each="c:${cinemaList}" th:value="${c.cinemaId}" th:text="${c.cinemaName}"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>时间</th>
                    <td>
                        <div class="layui-btn-container" id="date">
                            <button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" value="05-28">5.28</button>
                            <button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" value="05-29">5.29</button>
                            <button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" value="05-30">5.30</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="layui-row" id="content">
        <br>
        <div class="layui-col-md2 layui-col-lg-offset1">
            <p class="layui-font-18" th:each="c:${cinemaList}" th:if="${c.cinemaId} eq 1" th:text="${c.cinemaName}"></p>
        </div>
        <div class="layui-col-md10 layui-col-lg-offset1">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>放映时间</th>
                    <th>语言版本</th>
                    <th>放映厅</th>
                    <th>座位情况</th>
                    <th>票价</th>
                    <th>选座购票</th>
                </tr>
                </thead>
                <tbody style="text-align: center !important;">
                <tr th:each="t:${times}">
                    <td th:text="${t.filmTime}"></td>
                    <td th:text="${t.filmInfo.makeFilmArea}"></td>
                    <td th:text="${t.hallInfo.hallName}"></td>
                    <td>充裕</td>
                    <td th:text="'￥'+${t.filmPrice}"></td>
                    <td class="buy"><button class="layui-btn layui-btn-danger" th:value="${t.filmTimesId}">选座购票</button> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script type="text/javascript">
    var cid;
    var fid = [[${filmInfo.filmId}]];
    var date;

    $('#date .layui-btn').click(function (e) {
        date = e.target.value;
        $.ajax({
            url: "http://127.0.0.1:8080/user/query",
            data　: {"cinema_id": cid, "film_id" : fid,"date" : date},
            async : false,
            success: function (html) {
                $("#content").html(html);
            }
        })
    });
    $(document).on('click',".buy .layui-btn",function(e){
        times_id = e.target.value;
        window.location.href = 'http://localhost:8080/user/film/seat?times_id=' + times_id;
    });

    $('#cinema .layui-btn').click(function (e) {
        cid = e.target.value;
        $.ajax({
            url: "http://127.0.0.1:8080/user/query",
            data　: {"cinema_id": cid, "film_id" : fid,"date" : date},
            async: false,
            success: function (html) {
                $("#content").html(html);
            }
        })
    });

    layui.use(['element','rate'], function() {
        var element = layui.element;
        var rate = layui.rate;
        rate.render({
            elem: '#star'
            ,value: 4
            ,readonly: true
        });
    });
</script>
</body>
</html>